<!DOCTYPE html>
<html lang="en">
  <head>
    <title>User Directory</title>
    <link rel="stylesheet" type="text/css" href="../css/styles.css" />
  </head>
  <body>
      <h1>Robot User Index</h1><br>
      <br>
      <a href="http://localhost:3000/available">Robots who need work</a>
      <br>
      <a href="http://localhost:3000/working">Robots who are working</a>
      <br>
      <div class="container">
          {{#robots}}
          <div class="users">
            <img src='{{avatar}}'> <br>
            <!-- <a href="/users/{{userid}}"><img src='{{avatar}}'></a> -->
            <p>{{name}}</p>
             {{#job}}
              <p>{{job}}</p>
              <p>{{company}}<p>
            {{/job}}
            {{^job}}
            <p class="avail"><b></b>Available for hire</b></p>
            {{/job}}
        </div>
        {{/robots}}
    </div>


  </body>
</html>

<!-- Latest compiled and minified JavaScript -->
